@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Outer Row -->
<div class="row justify-content-center">

    <div class="col-xl-10 col-lg-12 col-md-9">
        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-6 d-none d-lg-block bg-login-image" style=" background: black url(https://png.pngtree.com/png-clipart/20230131/ourlarge/pngtree-cute-bear-png-image_6581260.png);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;"></div>
                    <div class="col-lg-6">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">@ViewData["Title"]</h1>
                            </div>
                            <form class="user" id="account" method="post">
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <div class="form-group">
                                    <input asp-for="Input.Email" class="form-control form-control-user"
                                           aria-describedby="emailHelp" placeholder="Nhập user hoặc email" />
                                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <input asp-for="Input.Password" class="form-control form-control-user" placeholder="Nhập mật khẩu" />
                                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <div class="custom-control custom-checkbox small">
                                        <input asp-for="Input.RememberMe" class="custom-control-input" />
                                        <label class="custom-control-label" asp-for="Input.RememberMe"></label>
                                    </div>
                                </div>

                                <button type="submit" class="btn btn-primary btn-user btn-block">Đăng nhập</button>
                                <hr>

                                @if ((Model.ExternalLogins?.Count ?? 0) != 0)
                                {
                                    <form id="external-account" asp-page="./ExternalLogin"
                                      asp-route-returnUrl="@Model.ReturnUrl" method="post">
                                        @foreach (var provider in Model.ExternalLogins)
                                        {
                                            string classiconprovider = "";
                                            string classprovider = "";
                                            if (provider.DisplayName == "Google")
                                            {
                                                classprovider = "btn-google";
                                                classiconprovider = "fab fa-google fa-fw";
                                            }
                                            else if (provider.DisplayName == "Facebook")
                                            {
                                                classprovider = "btn-facebook";
                                                classiconprovider = "fab fa-facebook-f fa-fw";
                                            }


                                            <button type="submit" class="btn @classprovider btn-user btn-block"
                                                    name="provider" value="@provider.Name"
                                                    title="Log in using your @provider.DisplayName account">
                                                <i class="@classiconprovider"></i>
                                                Đăng nhập bằng @provider.DisplayName
                                            </button>
                                        }
                                    </form>

                                }
                            </form>
                            <div class="text-center">
                                <a class="small" id="forgot-password" asp-page="./ForgotPassword">Bạn quyên mật khẩu?</a>
                            </div>
                            <div class="text-center">
                                <a class="small" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Chưa có tài khoản, đăng ký mới</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<script>
    const imageUrls = [
        'https://wallpaperaccess.com/full/109855.jpg', 
        'https://wallpaperaccess.com/full/109843.jpg',
        'https://wallpaperaccess.com/full/109842.jpg',
        'https://wallpaperaccess.com/full/109858.jpg',
        'https://wallpaperaccess.com/full/109843.jpg',
        'https://wallpaperaccess.com/full/109852.jpg',
        'https://wallpaperaccess.com/full/109866.png',
        'https://wallpaperaccess.com/full/109837.png',
        'https://wallpaperaccess.com/full/109834.jpg',
        'https://wallpaperaccess.com/full/109840.jpg',
        'https://wallpaperaccess.com/full/109865.jpg',
        'https://wallpaperaccess.com/full/109878.jpg' ,
        'https://nhadepso.com/wp-content/uploads/2023/02/hinh-trai-tim-cute_14.jpg',
        'https://nhadepso.com/wp-content/uploads/2023/02/hinh-trai-tim-cute_14.jpg'
    ];

    let currentImageIndex = 0;
    const imageElement = document.querySelector('.bg-login-image');

    setInterval(() => {
        currentImageIndex = (currentImageIndex + 1) % imageUrls.length;
        const newImageUrl = imageUrls[currentImageIndex];
        imageElement.style.backgroundImage = `url(${newImageUrl})`;
    }, 3000);

</script>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}