@model FA.JustBlog.ViewModel.ViewModel.CommentViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Comment</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CommentHeader)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CommentHeader)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CommentText)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CommentText)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CommentTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CommentTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Post)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Post.PostContent)
        </dd>
    </dl>
</div>
<div>
    <a href="/Admin/Comment/Index">Back to List</a>
</div>
