@page "/Admin/role/"
@model FA.JustBlog.Areas.Identity.Pages.Role.IndexModel

@using System.Security.Claims
@using FA.JustBlog.Core.Utill
@{
    ViewData["Title"] = "Log in";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@*<form method="POST" class="my-1 d-inline">
    <button class="btn btn-secondary" asp-page="./Add"
            asp-page-handler="StartNewRole">
        Thêm mới Role
    </button>
</form>*@
<table class="table">
    <tr> 
        <th>STT</th>
        <th>Tên</th>
         @if (User.Claims.Any(c => c.Type == ClaimTypes.Role && (c.Value == $"{RoleUnit.Role_BlogOwner}")))
        { 
            <th>Tác vụ</th>
        }
       
    </tr>
    @foreach (var role in @Model.roles)
    {
        <tr>
            <td>@(Model.roles.IndexOf(role) + 1)</td>
            <td>@role.Name</td>
            <td>
                @if (User.Claims.Any(c => c.Type == ClaimTypes.Role && (c.Value == $"{RoleUnit.Role_BlogOwner}")))
                {
                    <form method="POST" class="d-inline">
                        <button name="Input.ID" value="@role.Id" class="btn btn-success  "
                        asp-page="./Add" asp-page-handler="StartUpdate">
                            Cập nhật Role
                        </button>
                    </form>

                    <form method="POST" class="d-inline">
                        <button name="Input.ID" value="@role.Id" class="btn btn-success  "
                        asp-page="./Delete">
                            Xóa Role
                        </button>
                    </form>
                }
                
            </td>
        </tr>
    } 
</table>