@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["TitleHeader"] = "Post";
    ViewData["TitleHeaderBody"] = "Detail Post !";
}
@using FA.JustBlog.Core.Models
@using FA.JustBlog.ViewModel.ViewModel
@model PostViewModel

<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">

                    <!-- Post preview-->
                    <div class="post-preview">
                        <h2 class="post-title">@Model.Title</h2>
                        <p class="text-muted">
                            Posted by @Model.UsingIdentityUser.LastName @Model.UsingIdentityUser.Firstname
                            <br />
                            Date: @Model.PostedOn
                        </p>
                        <hr />

                        <p class="post-subtitle">@Model.ShortDescription</p>
                        <p class="post-content">@Model.PostContent</p>

                        <!-- Comments section -->
                        <hr />
                        <h3 class="mb-3">Comments</h3>

                        @foreach (Comment item in Model.Comments)
                        {
                            <div class="card mb-3">
                                <div class="card-header">
                                    Commented by @item.UsingIdentityUser.Firstname @item.UsingIdentityUser.LastName on @item.CommentTime
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">@item.CommentHeader</h5>
                                    <p class="card-text">@item.CommentText</p>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
@Html.Partial("_Comment")