@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["TitleHeader"] = "Post";
    ViewData["TitleHeaderBody"] = "Detail Post !";
}
@using FA.JustBlog.ViewModel.ViewModel
@model PostViewModel

<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">

            <!-- Post preview-->
            <div class="post-preview">
                <h2 class="post-title">@Model.Title</h2>
                Posted by  @Model.UsingIdentityUser.LastName @Model.UsingIdentityUser.Firstname <br/>
                Date:  @Model.PostedOn
                <hr/> 
                <p class="post-subtitle">@Model.ShortDescription</p>
                <p class="post-subtitle">@Model.PostContent</p>
            </div>
            <!-- Divider-->
            <hr class="my-4" />  
        </div>
    </div>
</div>