@using FA.JustBlog.Core.Models
@using FA.JustBlog.ViewModel.ViewModel
@model PostViewModel
@if (Model.Comments.Count > 0)
                        {
                             <h3 class="mb-3">Comments</h3>

                        @foreach (Comment item in Model.Comments)
                        {
                            <div class="card mb-3">
                                <div class="card-header">
                                    Commented by @item.UsingIdentityUser.Firstname @item.UsingIdentityUser.LastName on @item.CommentTime
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">@item.CommentHeader</h5>
                                    <p class="card-text">@item.CommentText</p>
                                </div>
                            </div>
                        }
                        }